html,
body {
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'kode-mono-uniq',"Hanalei Fill", system-ui;
    user-select: none;
    cursor: url('./svgcursor.svg'), auto;
}

.Same {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rainbow-shadow {
    color: white;
    font-family: 'Pacifico', 'Brush Script MT', 'Lucida Handwriting','Pacifico', cursive;
    text-shadow:
        5px 5px 5px rgb(236, 44, 201),
        -5px 5px 10px rgb(19, 212, 238),
        5px -5px 10px rgb(89, 70, 235),
        -5px -5px 10px rgb(76, 239, 67),
        5px 0 5px rgb(247, 55, 221),
        -5px 0 5px rgb(233, 218, 47),
        0 5px 5px rgb(45, 238, 35),
        0 -5px 5px rgb(79, 62, 235);
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInScale {
    animation: fadeInScale 1.5s ease-out forwards;
}

.delay-200 {
    animation-delay: 0.2s;
}

.delay-400 {
    animation-delay: 0.4s;
}


.letter-transform {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.letter-transform:hover {
    transform: rotate(180deg);
    color: #fbbf24;
}

@media (max-width: 380px) {
    .w-380 {
        display: none;
        visibility: hidden;
    }

    .h-400 {
        border:none;
    }
}
.kode-mono-uniq {
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

